/* General Styling */
body {
    font-family: "Sixtyfour", sans-serif;
    background-color: #fafafa;
    color: #637150;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Header */
header {
    text-align: center;
    padding: 2rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    width: 100%;
}

header h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #2a2a2a;
    margin: 0 0 10px;
}

header p {
    font-size: 1rem;
    color: #737373;
    margin: 0;
}

/* Main Content (Card Design) */
.container {
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}

/* File Input */
.input-container input[type="file"] {
    padding: 0.75rem;
    width: 100%;
    font-size: 1rem;
    color: #4a4a4a;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: 0.3s;
    box-shadow: none;
}

.input-container input[type="file"]:hover,
.input-container input[type="file"]:focus {
    border: 1px solid #bbb;
    outline: none;
}

/* Drag and Drop Area */
.drag-drop-area {
    border: 2px dashed #e0e0e0;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;
    transition: 0.3s;
}

.drag-drop-area p {
    margin: 0;
    font-size: 1rem;
    color: #4a4a4a;
}

.drag-drop-area .or-text {
    font-size: 0.9rem;
    color: #737373;
    margin: 1rem 0;
}

.drag-drop-area.dragover {
    border-color: #9e9e9e;
    background-color: #f5f5f5;
}

/* Ensure upload button matches the drag area styling */
.upload-button {
    background-color: #e0e0e0;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    cursor: not-allowed;
    transition: 0.3s;
    opacity: 0.7;
}

.upload-button:enabled {
    background-color: #91c3cf;
    cursor: pointer;
    opacity: 1;
}

.upload-button:enabled:hover {
    background-color: #6e6e6e;
}

/* Progress Bar */
#progress-container {
    margin-top: 1rem;
    text-align: center;
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0;
}

progress::-webkit-progress-value {
    background-color: #9e9e9e;
}

/* Response */
.response {
    margin-top: 1rem;
    color: #b1c6fa;
    font-size: 1.2rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #737373;
    margin-top: 1rem;
    border-top: 1px solid #eaeaea;
}
